/**
 *     __                               
 * .--|  |.----.-----.-----.-----.-----.
 * |  _  ||   _|  _  |  _  |  -__|  -__|
 * |_____||__| |_____|   __|_____|_____|
 *                   |__|      -- color         
 *
 * v1.0.1
 *
 * A tiny SCSS Toolkit to ease your workflow!
 * https://github.com/YuukanOO/dropee
 */

// This is your color palette, use whatever you want!
// If you put a single value, variants will be computed via the $variants variable
// but if you want custom color variants, just use a list from darkest to brightest.
$palette: (
  brand: #C0CA33,
  accent: #0277BD,
  divider: rgba(black, 0.12),
  text: (black, rgba(black, 0.87), rgba(black, 0.54)),
  text-inverse: white,
) !default;

// Variants are use for applying "automatic" darken / lighten on the base color palette
$variants: (
  -2: 20%,
  -1: 10%,
  1: 10%,
  2: 20%,
) !default;

// apply-variant($color, $variant, $amount)
//
// Apply a variant to a base color.
//
// $color   - Base color to use
// $variant - Variant asked
// $amount  - Amount used for lighten or darken
@function apply-variant($color, $variant, $amount) {
  @if ($variant > 0) {
    @return lighten($color, $amount);
  }
  @else {
    @return darken($color, $amount);
  }
}

// color($name, $variant)
//
// Gets a color value.
//
// $name    - Name of the color in the palette
// $variant - Variation to apply. By default, I use -2 to 2, from darkest to brightest,
//            0 being the default color in the palette
@function color($name, $variant: 0) {
  $data: map-get($palette, $name);
  
  @if length($data) == 1 {
    @if ($variant == 0) {
      @return $data;
    }
    
    $v-data: map-get($variants, $variant);
    
    @return apply-variant($data, $variant, $v-data);
  }
  
  $middle: ceil(length($data) / 2);
  $options: $middle + $variant;

  $item: nth($data, $options);

  @if type-of($item) == color {
    @return $item;
  }

  @return apply-variant(nth($data, $middle), $variant, $item);
}